.halls__button {
    background: #1A1B23;
    border-radius: 36px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    width: 369px;
    height: 73px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    padding-left: 28px;
    cursor: pointer;
}